</td>
</tr>
<tr>
	<td width='150px'>
	
	
	    <a href="javascript: submitForm('displayAddExpense')" >AddExpense</a> <br> <br>
		<a href="javascript: submitForm('displayEditExpenseOptions')" >EditExpense</a><br> <br> 
		<a href="javascript: submitForm('displayDeleteExpenseOptions')">DeleteExpense</a><br> <br> 
		<a href="javascript: submitForm('displayExpenseReport')">ExpenseReport</a><br> <br> 
		<a href="javascript: submitForm('displayResetPassword')">ResetPassword</a><br> <br> 
		<a href="javascript: submitForm('displayNameInfo')">Update Profile</a><br></td>

	<td align='center'>